p{
    margin-bottom: 0px !important;
    padding: 4px 0 4px 0 !important;
}
.T {
    /* title */
    background-color: maroon;
    font-size: 32px;
    color:white;
    padding: 4px 4px 4px 4px !important;
    text-align: center;
}

.H {
    /* heading */
    color: maroon;
    font-size: 24px;
}

.I {
    /* instruction */
    color: grey;
    font-size: 15px;
}

.S {
    /* subheading */
    color: maroon;
    font-size: 22px;
}

.L {
    /* leader */
    color: mediumblue;
    font-size: 20px;
}

.A {
    /* assistant */
    color: olivedrab;
    font-size: 20px;
}

.G {
    /* group */
    font-size: 20px;
}

.O {
    /* optional */
    background-color: #ffeeee;
}

.R {
    /* optionally responsive */
    font-style: italic;
}